# twiddlebug env

# Fill these in with your twitter oauth settings and application keys....
# You can get your keys from https://dev.twitter.com/

# OAuth settings
# 
# Your application's OAuth settings. Keep the "Consumer secret" a secret. This
# key should never be human-readable in your application.

export TBUG_CONSUMER_KEY=""
export TBUG_CONSUMER_SECRET=""
export TBUG_REQUEST_TOKEN_URL=""
export TBUG_AUTHORIZE_URL=""
export TBUG_ACCESS_TOKEN_URL=""
export TBUG_CALLBACK_URL=""

# Your access token
#
# Use the access token string as your "oauth_token" and the access token secret
# as your "oauth_token_secret" to sign requests with your own Twitter account. Do
# not share your oauth_token_secret with anyone.

export TBUG_ACCESS_TOKEN=""
export TBUG_ACCESS_TOKEN_SECRET=""

# Access level

export TBUG_ACCESS_LEVEL="Read-only"

# Server config

export TBUG_SERVER_PORT="3000"
