!!!5
html
  head
    title Twiddlebug
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/headjs/dist/head.load.min.js')

  body
    #tweet-template(style='display: none')
      div.tweet
        img(src="{{ user.profile_image_url }}", class='image')
        div 
          span.name {{ user.name }}
          span.screen_name {{ user.screen_name }}
        div.text {{ text }}
        time(class="timeago", datetime="{{ created_at }}") {{ created_at }}
  
    != body

  script
    head.js(
      {jquery: "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"},
      {timeago: "/javascripts/timeago/jquery.timeago.js"},
      {socket_io: "/socket.io/socket.io.js"},
      {underscore: "/javascripts/underscore/underscore-min.js"},
      {backbone: "/javascripts/backbone/backbone-min.js"},
      {twiddlebug: "/javascripts/client.js"}
    );

    head(function() {
      jQuery.timeago.settings.strings = {
         prefixAgo: "",
         prefixFromNow: "in ",
         suffixAgo: "",
         suffixFromNow: "",
         seconds: "%d s",
         minute: "%d m",
         minutes: "%d m",
         hour: "%d h",
         hours: "%d h",
         day: "%d d",
         days: "%d d"
      };
    
      var view = new ApplicationView();
      view.render();
    });


    
